In [1]:
import numpy as np
import pandas as pd

pd_data = pd.read_csv('전국푸드트럭허가구역표준데이터.csv',encoding='cp949')

In [17]:
for i in enumerate(pd_data.columns):
    pass
    #print(i)
print(pd_data.shape)
num_descr_df = pd_data.describe()
#print(num_descr_df.columns)
#print(pd_data.columns)
lista = list(pd_data.columns)
for e in list(num_descr_df.columns):
    lista.remove(e)
print(len(pd_data.columns),len(lista))
#print(pd_data.dtypes)
#pd_data[lista].describe()

(342, 47)
47 43

In [24]:
x = pd_data['허가구역운영시작일자'].astype(np.datetime64)
# print(x.dt.year)
# print(x.dt.month)
# print(x.dt.day)
#print(x.dt.day + 5)

0      35
1       9
2      30
3      26
4      24
       ..
337    22
338    22
339    19
340     6
341     6
Name: 허가구역운영시작일자, Length: 342, dtype: int64

In [3]:
national_site_count = pd_data.shape[0]
print(national_site_count)
pd_data['시도명'].value_counts()

342

경기도        80
경상남도       48
충청북도       41
강원도        34
충청남도       24
서울특별시      17
제주특별자치도    17
광주광역시      14
전라남도       13
대구광역시      12
경상북도       11
부산광역시       9
인천광역시       8
전라북도        7
대전광역시       6
울산광역시       1
Name: 시도명, dtype: int64

In [9]:
#print(pd_data['시도명'].describe())
#print(pd_data['푸드트럭운영대수'].describe())
print(pd_data[['시도명','푸드트럭운영대수']].describe())

         푸드트럭운영대수
count  251.000000
mean     1.768924
std      2.952015
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max     25.000000

In [5]:
pd_data['푸드트럭운영대수'].sum()

444.0

In [6]:
sub_data = pd_data[['시도명','푸드트럭운영대수']]
sub_data.groupby('시도명').sum()

         푸드트럭운영대수
시도명
강원도          25.0
경기도         136.0
경상남도         57.0
경상북도         17.0
광주광역시        14.0
대구광역시         4.0
대전광역시        12.0
부산광역시        17.0
서울특별시        35.0
울산광역시         1.0
인천광역시         9.0
전라남도         29.0
전라북도         10.0
제주특별자치도      41.0
충청남도         30.0
충청북도          7.0